.backgr {
  position: relative;
  height: 500px;
  background: #0b345d;
  background-image: 
  linear-gradient(
    to bottom,
    rgba(40, 58, 119, 0.571),
    rgba(0, 0, 0, 0.317)),
  
  /* photo coutesy of unsplash */
  url('../Images/Csday2324.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;  

}

.backgr svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  pointer-events: none;

}





/* -------------------------- */
  




  
  /* centers the content on the viewport */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 28.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
    /*  words remain as is without breaking up  */
    white-space: nowrap;
    
    /*  This creates a text shadow around the the text within the hero-text div  */
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 16px 23px rgba(0, 0, 0, 0.1);
    
  }
  
  .hero-text h1 {
    font-size: 4.3em;
    font-weight: 300;
    
  }
  
  .hero-text p {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
  }
  
  .btn-default,
  .btn-default:visited {
    margin-top: 50px;
    padding: 13px 25px;
    border-radius: 5px;
    border: none;
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
    /* background-color: #FFC312; */
    background-color: rgb(38, 154, 38);
    transition: background-color 0.1s;
  }
  
  .btn-default:hover,
  .btn-default:active {
    background-color: #54995f;
  }