@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}

.test-presentation{
	text-align: center;
}

.test-presentation .quotes{
	color: #00bbf0;
}
.test-presentation h1{
	font-size: 30px;
	font-weight: 900;
	color: #222;
	margin-bottom: 22px;
}
.test-presentation h5{
	padding: 10px 100px;
}

.cont-test{
	display: flex;
	flex-direction: row;
	gap: 20px;
}


.testimonials-container {
	background-color: #ffffff;

	border-radius: 15px;
	color: #000000;
	font-family: 'Montserrat';
	margin: 20px auto;
	max-width: 650px;
	padding: 30px 80px;
	position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.fa-quote {
	color: rgba(255, 255, 255, 0.3);
	font-size: 28px;
	position: absolute;
	top: 70px;
}

.fa-quote-right {
	left: 40px;
}

.fa-quote-left {
	right: 40px;
}

.testimonial {
	line-height: 28px;
	text-align: justify;
}

.centered-items {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	border-radius: 50%;
	height: 75px;
	width: 75px;
	object-fit: cover;
}

.user-details {
	margin-left: 10px;
}

.username {
	margin: 0;
}

.role {
	font-weight: normal;
	margin: 2px 0;
}

.progress-bar {
	background-color: #fff;
	height: 4px;
	width: 100%;
	animation: grow 10s linear infinite;
	transform-origin: left;
}

@keyframes grow {
	0% {
		transform: scaleX(0);
	}
}

@media (max-width: 768px) {
	.testimonials-container {
		padding: 20px 30px;
	}
	
	.fa-quote {
		display: none;
	}
}

footer {
	background-color: #222;
	color: #fff;
	font-size: 14px;
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	text-align: center;
}

footer p {
	margin: 10px 0;
}

footer i {
	color: red;
}

footer a {
	color: #3C97BF;
	text-decoration: none;
}